<div class="login-container">
  <%= form_with(model: category, class: "contents") do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :name, class:"label" %>
      <%= form.text_field :name, class: "input" %>
    </div>
    <div class="field">
      <%= form.label :icon, class:"label" %>
      <%= form.text_field :icon, class: "input" %>
    </div>
    <div class="inline">
      <%= form.submit class: "Add-category" %>
    </div>
  <% end %>
</div>
